<!--FOOTER-AREA START-->
<div class="footer-area">
  {{!-- <div class="footer-list">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="single-footer classic">
            <div class="logo">
              <a href="../"><img
                  src="img_t/logo.png"
                  style="height:50px;"
                  alt=""
                /></a>
            </div>
            <div class="f-classic-text">
              <p>Trojan 2nd hand platfrom is an information website dedicated to
                the sale and rental of second-hand items for USC students.
                Whether you're looking for any products, there's always
                something here for you.
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="single-footer">
            <h3>Contact Us</h3>
          </div>
          <div class="single-footer classic">
            <div class="classic-adress">
              <ul>
                <li><a><i class="fa fa-phone"></i></a>cellphone number</li>
                <li><a><i class="fa fa-envelope"></i></a>feedback@tthp.com</li>
                <li><a><i class="fa fa-map-marker"></i></a>University of
                  Southern California<span>Los Angeles, CA.</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="single-footer">
            <h3>T2HP</h3>
            <div class="link-list">
              <ul>
                {{! <li><a href="../">Home</a></li> }}
                <li><a href="buy">Buy</a></li>
                <li><a href="sell">Sell</a></li>
                <li><a href="lend">Lend</a></li>
                <li><a href="share">Share/Rent</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="single-footer">
            <h3>USC Websites</h3>
            <div class="link-list">
              <ul>
                <li><a href="https://www.usc.edu/">University of Southern
                    California</a></li>
                <li><a href="https://viterbischool.usc.edu/">School of Viterbi
                    Engineering</a></li>
                <li><a href="https://academics.usc.edu/">Academics</a></li>
                <li><a href="https://about.usc.edu/">About USC</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> --}}
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="footer-copyright">
            <p>Copyright &copy; 2024. CU-Later.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--FOOTER AREA END-->

<!-- jquery
		============================================ -->
<script src="js/vendor/jquery-1.11.3.min.js"></script>

<!-- price-slider JS
		============================================ -->
<script src="js/jquery-price-slider.js"></script>

<!-- bootstrap JS
		============================================ -->
<script src="js/bootstrap.min.js"></script>
<!-- wow JS
		============================================ -->
<script src="js/wow.min.js"></script>

<!-- Nivo slider js
		============================================ -->
<script src="lib/js/jquery.nivo.slider.js" type="text/javascript"></script>
<script src="lib/home.js" type="text/javascript"></script>

<!-- meanmenu JS
		============================================ -->
<script src="js/jquery.meanmenu.js"></script>

<!-- owl.carousel JS
		============================================ -->
<script src="js/owl.carousel.min.js"></script>

<!-- mixitup js -->
<script src="js/jquery.mixitup.min.js"></script>

<!-- jquery.collapse js -->
<script src="js/jquery.collapse.js"></script>

<!-- scrollUp JS
		============================================ -->
<script src="js/jquery.scrollUp.min.js"></script>

<!-- plugins JS
		============================================ -->
<script src="js/plugins.js"></script>

<!-- main JS
		============================================ -->
<script src="js/main.js"></script>