<!--FOOTER-AREA START-->
</main>
<link rel="stylesheet" href="css/footer.css" />

<footer>
  <p>Copyright &copy; 2024. CU-Later.</p>
</footer>
<!--FOOTER AREA END-->

<!-- jquery
		============================================ -->
<script src="js/vendor/jquery-1.11.3.min.js"></script>

<!-- price-slider JS
		============================================ -->
<script src="js/jquery-price-slider.js"></script>

<!-- bootstrap JS
		============================================ -->
<script src="js/bootstrap.min.js"></script>
<!-- wow JS
		============================================ -->
<script src="js/wow.min.js"></script>

<!-- Nivo slider js
		============================================ -->
<script src="lib/js/jquery.nivo.slider.js" type="text/javascript"></script>
<script src="lib/home.js" type="text/javascript"></script>

<!-- meanmenu JS
		============================================ -->
<script src="js/jquery.meanmenu.js"></script>

<!-- owl.carousel JS
		============================================ -->
<script src="js/owl.carousel.min.js"></script>

<!-- mixitup js -->
<script src="js/jquery.mixitup.min.js"></script>

<!-- jquery.collapse js -->
<script src="js/jquery.collapse.js"></script>

<!-- scrollUp JS
		============================================ -->
<script src="js/jquery.scrollUp.min.js"></script>

<!-- plugins JS
		============================================ -->
<script src="js/plugins.js"></script>

<!-- main JS
		============================================ -->
<script src="js/main.js"></script>