<link rel="stylesheet" href="css/pages/navBar.css" />
<script src="js/navBar.js"></script>

<nav>
  <div class="headerLogo">
    <a>CU-Later</a>
  </div>
  <input type="checkbox" class="hiddenCheckbox" id="hiddenCheckbox">
  <label class="hamburger" for="hiddenCheckbox">
    <div class="bar"></div>
  </label>
  <ul id="nav" class="headerMenu">
    <li><a href="../">HOME</a></li>
    <li><a href="../buy">BUY</a></li>
    <li><a href="../sell">SELL</a></li>
    <li><a href="../activity">ACTIVITY</a></li>
    <li><a href="../create">CREATE</a></li>
    <li class="accountItem"><a href="../personal">ACCOUNT</a></li>
    <li class="loginItem"><a href="login">LOGIN/REGISTER</a></li>
    <li class="accountItem"><a href="logout">LOGOUT</a></li>
  </ul>

  <div class="headerPlaceholder"></div>
  <div class="background"></div>
</nav>

<main>
 