<!--HEADER AREA START-->
<div class="header-area home1">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="header-logo">
          <a>CU-Later</a>
        </div>
      </div>
      <div class="hidden-xs hidden-sm col-md-6 col-lg-6">
        <div class="header-menu">
          <ul id="nav">
            <li><a href="../">HOME</a></li>
            <li><a href="../buy">BUY</a></li>
            <li><a href="../sell">SELL</a></li>
            <li><a href="../lend">LEND</a></li>
            <li><a href="../share">SHARE/RENT</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="header-info">
          <ul>
            <li><a href="../personal">My Account</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--mobile menu satrt-->
  <div class="mobile-menu-area home1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav id="dropdown">
            <ul>
              <li><a href="../">HOME</a></li>
              <li><a href="../buy">BUY</a></li>
              <li><a href="../sell">SELL</a></li>
              <li><a href="../lend">LEND</a></li>
              <li><a href="../share">SHARE/RENT</a></li>
              <li><a href="../personal">MY ACCOUNT</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!--mobile menu end-->
</div>
<!--HEADER AREA END-->