nav {
  overflow: hidden;
  display: grid;
  grid-template-columns: 3fr 8fr 3fr;
  gap: 10px;
  position: sticky;
  top: 0;
}

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

nav > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.headerLogo a {
  font-size: 1rem;
  font-weight: bold;
}

nav .background {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 1);
  z-index: -1;
}

.headerMenu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(51, 51, 51, 0.95);
  border-radius: 50px;
  margin: 10px 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
}
