<html class="no-js" lang="">
  <head>
    {{> import_head}}
  </head>
  <body>

    {{> import_nav}}
    <script>
      if ({{loggedIn}} === false) {
        document.querySelector(".headerMenu").setAttribute("data-user", "false");
      }
    </script>


    <link rel="stylesheet" href="css/pages/home.css" />


    <!--LOGIN RESTRICTION-->
    {{#if error}}
    <p class="error">{{error}}</p>
    {{/if}}

    <!--slider area start-->
    <div class="slider-area home1">
      <div class="bend niceties preview-2">
        <div id="ensign-nivoslider" class="slides">
          <img
            src="img/slider/slider-bg-furnitures.jpg"
            alt=""
            title="#slider-direction-1"
          />
          <img
            src="img/slider/slider-bg-books.jpg"
            alt=""
            title="#slider-direction-2"
          />
        </div>
        <!-- direction 1: CU-LATER -->
        <div id="slider-direction-1" class="t-cn slider-direction">
          <div class="slider-progress"></div>
          <div class="slider-content t-cn s-tb slider-1">
            <div class="title-container s-tb-c">
              <h1 class="title1"><strong>CU-LATER</strong></h1>
              <h1 class="title2">CUHK'S SECOND-HAND ITEMS ONLINE MARKETPLACE</h1>
            </div>
          </div>
        </div>
        <!-- direction 2: BOOKS -->
        <div id="slider-direction-2" class="slider-direction">
          <div class="slider-progress"></div>
          <div class="slider-content t-cn s-tb slider-2">
            <div class="title-container s-tb-c">
              <h1 class="title1">SECOND-HAND GENERAL EDUCATION BOOKS</h1>
              <h1 class="title2"><strong>UP TO 90% OFF!</strong></h1>
              <h2 class="title2">compared to new books</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--slider area end-->

    <button class="notify">Notify Me</button>
    <script>
      document.querySelector(".notify").addEventListener("click", async () => {
        if(!("Notification" in window)){
          window.alert("This browser does not support desktop notification");
        }
        Notification.requestPermission().then(async (Permission)=>{
          const sw = await registerServiceWorker();
          sw.showNotification("CU-LATER", {
            body: "You have enabled push notification",
          });
        });
      });
    </script>

    {{> import_footer}}
  </body>
</html>