<html class="no-js" lang="">
  <head>
    {{> import_head}}
  </head>
  <body>

    {{> import_nav}}
    <script>
      if ({{loggedIn}} === false) {
        document.querySelector(".headerMenu").setAttribute("data-user", "false");
      }
    </script>


    <link rel="stylesheet" href="css/pages/home.css" />


    <!--LOGIN RESTRICTION-->
    {{#if error}}
    <p class="error">{{error}}</p>
    {{/if}}

    <!--slider area start-->
    <div class="slider-area home1">
      <div class="bend niceties preview-2">
        <div id="ensign-nivoslider" class="slides">
          <img
            src="img/slider/slider-bg-furnitures.jpg"
            alt=""
            title="#slider-direction-1"
          />
          <img
            src="img/slider/slider-bg-books.jpg"
            alt=""
            title="#slider-direction-2"
          />
        </div>
        <!-- direction 1: Cheap Furnitures in Good conditions -->
        <div id="slider-direction-1" class="t-cn slider-direction">
          <div class="slider-progress"></div>
          <div class="slider-content t-cn s-tb slider-1">
            <div class="title-container s-tb-c">
              <h1 class="title1">CHEAP FURNITURES</h1>
              <h1 class="title2"><strong>IN GOOD CONDITIONS!</strong></h1>
              {{! <a href="#"><span>SHOP NOW</span></a> }}
            </div>
          </div>
        </div>
        <!-- direction 2: books -->
        <div id="slider-direction-2" class="slider-direction">
          <div class="slider-progress"></div>
          <div class="slider-content t-cn s-tb slider-2">
            <div class="title-container s-tb-c">
              <h1 class="title1">SECOND HAND BOOKS</h1>
              <h1 class="title2"><strong>UP TO 90% OFF!</strong></h1>
              {{! <h2 class="title2">SAVE UP TO 90% OFF</h2> }}
              <h2 class="title2">compared to new books</h2>
              {{! <a href="#"><span>SHOP NOW</span></a> }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--slider area end-->

    {{> import_footer}}
  </body>
</html>