<!--FUNCTION CODE-->
{{!-- <h2>Login</h2>
{{#if message}}
<div class="error">{{ message }}</div>
{{/if}}
<form method="POST" action="login">
	<div>
		<label for="username">Username:</label>
		<input type="text" name="username" value="">
	</div>
	<div>
		<label for="password">Password:</label> 
		<input type="password" name="password" value="">
	</div>
	<div>
		<input type="submit" value="Login">
	</div>
</form> --}}

<html class="no-js" lang="">
  <head>
    {{> import_head}}
  </head>
  <body>
    <!--[if lt IE 8]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

    {{> import_nav}}

    <div class="loginArea">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <form method="POST" action="login">
              <div class="form-fields">
                <h2>Login</h2>
                {{#if message}}
                  <div class="error">{{message}}</div>
                {{/if}}
                <p>
                  <label for="username">Username
                    <span class="required">*</span></label>
                  <input type="text" name="username" />
                </p>
                <p>
                  <label>Password <span class="required">*</span></label>
                  <input type="password" name="password" />
                </p>
              </div>
              <div class="form-action">
                <input type="submit" value="Login" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="registerArea">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <form method="POST" action="register">
              <div class="form-fields">
                <h2>Register</h2>
                {{#if message}}
                  <div class="error">{{message}}</div>
                {{/if}}
                <p>
                  <label for="username">Username
                    <span class="required">*</span></label>
                  <input type="text" name="username" value="" />
                </p>
                <p>
                  <label for="email">Email
                    <span class="required">*</span></label>
                  <input type="text" name="email" value="" />
                </p>
                <p>
                  <label>Password <span class="required">*</span></label>
                  <input type="password" name="password" value="" />
                </p>
              </div>
              <div class="form-action">
                <input type="submit" value="Register" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    {{> import_footer}}
  </body>

</html>