.product-simple-area {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: calc(100vh - 120px);
}

.single-product-image {
  position: sticky;
  top: 10%;
  height: calc(90vh - 60px);
  width: 90%;
  margin: 0 auto;
}

.single-product-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.single-product-info {
  padding: 5% 5% 0 5%;
}

.product_title {
  margin: 1rem 0 0 0;
  font-size: 3rem;
}

.attributes {
  display: flex;
  gap: 1rem;
}

.price-box,
.stock-status {
  border: 1px solid rgba(225, 112, 85, 1);
  margin: 1rem 0;
  width: fit-content;
  padding: 0.25rem 1rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
}

.short-description p {
  word-wrap: anywhere;
  margin: 0;
}

label {
  margin: 0;
  width: 100%;
}

form {
  padding: 20px 40px 10px 0;
  text-align: right;
}

input[type="submit"],
input[type="button"] {
  color: white;
  border-radius: 20px;
  padding: 10px 15px;
  display: inline-block;
  margin: 0 auto;
  font-size: 16px;
  background: rgba(225, 112, 85, 1);
  border: none;
}

.full-screen-checkbox {
  display: none;
}

.full-screen {
  cursor: pointer;
}

.full-screen-checkbox:checked ~ .full-screen {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  padding: calc(5% + 60px) 5% 5% 5%;
  background-color: rgba(0, 0, 0, 0.8);
}

.full-screen-checkbox:checked ~ .full-screen img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
