.loginContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  gap: 20px;
  height: calc(100vh - 140px);
  position: relative;
}

.loginContainer .loginImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  z-index: 9999;
}

.loginContainer.register .loginImage {
  left: 50%;
}

.loginContainer .loginArea,
.loginContainer .registerArea {
  transition: opacity 0.35s ease-in-out;
}

.loginContainer .registerArea {
  opacity: 0;
}

.loginContainer.register .registerArea {
  opacity: 1;
}

.loginContainer.register .loginArea {
  opacity: 0;
}

.loginContainer .loginImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.loginContainer .loginImage h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3rem;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

form h2 {
  font-size: 2rem;
  margin: 0 10px 20px 10px;
  display: inline-block;
}

.Login-Register-Form-Field:first-child {
  margin-top: 15px;
}

.Login-Register-Form-Field {
  position: relative;
  margin-bottom: 20px;
  width: 80%;
}

.Login-Register-Form-Field input {
  border: 1px solid #9e9e9a;
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  user-select: none;
  background: #dfe6e9;
}

.Login-Register-Form-Field .Login-Register-Form-Label {
  display: block;
  position: absolute;
  top: 16px;
  left: 10px;
  width: 80%;
  text-align: left;
  padding: 0 8px;
  font-size: 15px;
  color: #9e9e9a;
  background: #dfe6e9;
  z-index: 1;
  transition: left 0.1s ease-in-out, top 0.1s ease-in-out,
    font-size 0.1s ease-in-out, width 0.1s ease-in-out;
  user-select: none;
  cursor: text;
}

.Login-Register-Form-Field input:focus {
  border: 1px solid #038aff;
}

.Login-Register-Form-Field input:focus ~ .Login-Register-Form-Label {
  color: #038aff;
}
.Login-Register-Form-Field input:focus ~ .Login-Register-Form-Label,
.Login-Register-Form-Field
  input:not(:placeholder-shown)
  ~ .Login-Register-Form-Label {
  top: -7.5px;
  left: 10px;
  width: fit-content;
  font-size: 12px;
}

.Login-Register-Form-Button {
  background: rgba(225, 112, 85, 1);
  border-radius: 20px;
  border: none;
  padding: 10px 0;
  width: 75%;
  margin-top: 5px;
  color: white;
  font-size: 16px;
  transition: background 0.2s ease-in-out;
  cursor: pointer;
  user-select: none;
}

.Login-Register-Form-Button:hover {
  background: rgba(255, 118, 117, 1);
}

.switchPage {
  color: #038aff;
  cursor: pointer;
}

form .error {
  margin: 0 0 10px 0;
  background-color: transparent;
  color: rgba(214, 48, 49, 1);
}

.Category-Form-Field {
  position: relative;
  margin-bottom: 20px;
  width: 80%;
  padding: 0 10px;
  border: 1px solid #9e9e9a;
  border-radius: 5px;
}

.Category-Form-Field .Category-Form-Label {
  margin: 0;
  display: block;
  text-align: left;
  padding: 0 8px;
  font-size: 15px;
  color: #9e9e9a;
  background: #dfe6e9;
  z-index: 1;
  transition: left 0.1s ease-in-out, top 0.1s ease-in-out,
    font-size 0.1s ease-in-out, width 0.1s ease-in-out;
  user-select: none;
  cursor: pointer;
}

.Category-Form-Field .Category-Form-Label {
  position: absolute;
  top: -7.5px;
  left: 10px;
  width: fit-content;
  font-size: 12px;
}

.Category-Form-Field select {
  width: 100%;
  border: none;
  background: none;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  outline: none;
  padding: 15px 0;
}

@media (max-width: 768px) {
  .loginContainer {
    grid-template-columns: 1fr;
  }

  .loginContainer .loginImage {
    display: none;
  }

  .loginContainer .loginArea {
    width: 100%;
  }

  .loginContainer .registerArea {
    width: 100%;
  }

  .loginContainer .registerArea {
    display: none;
  }

  .loginContainer.register .registerArea {
    display: block;
  }

  .loginContainer.register .loginArea {
    display: none;
  }
}
