h1 {
  padding: 10px 20px;
  margin-top: 20px;
}

.wishlist-area {
  padding: 0 20px;
}

.wishlist-area table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  table-layout: fixed;
  margin-bottom: 30px;
}

.wishlist-area table th {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: rgba(0, 184, 148, 1);
}

.wishlist-area table tr {
  background: rgba(0, 184, 148, 0.6);
}

.wishlist-area table tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.wishlist-area table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  word-wrap: break-word;
}

.wishlist-area table td img {
  width: 100px;
}

.wishlist-area table td a {
  color: #333;
}

.wishlist-area table td a:hover {
  color: #f00;
}

.wishlist-area table td button,
.wishlist-area table td input[type="submit"] {
  padding: 5px 10px;
  background-color: rgba(250, 177, 160, 1);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.wishlist-area table td input[type="submit"].declined {
  background-color: rgba(214, 48, 49, 1);
}

.wishlist-area table th,
.wishlist-area table .product-name,
.wishlist-area table .product-price,
.wishlist-area table .product-add-to-cart,
.wishlist-area table .product-stock-status {
  text-align: center;
}

.wishlist-area table .title {
  display: none;
}

.wishlist-area span {
  word-break: break-all;
}

.preference-area {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
  margin-bottom: 25px;
}

.select-block {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 25px;
}

.select-block p,
label {
  margin: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.Category-Form-Field {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  padding: 0 10px;
  border: 1px solid #9e9e9a;
  border-radius: 5px;
}

.Category-Form-Field .Category-Form-Label {
  margin: 0;
  display: block;
  text-align: left;
  padding: 0 8px;
  font-size: 15px;
  color: #9e9e9a;
  background: #dfe6e9;
  z-index: 1;
  transition: left 0.1s ease-in-out, top 0.1s ease-in-out,
    font-size 0.1s ease-in-out, width 0.1s ease-in-out;
  user-select: none;
  cursor: pointer;
}

.Category-Form-Field .Category-Form-Label {
  position: absolute;
  top: -7.5px;
  left: 10px;
  width: fit-content;
  font-size: 12px;
}

.Category-Form-Field select {
  width: 100%;
  border: none;
  background: none;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  outline: none;
  padding: 15px 0;
  -webkit-appearance: none;
}

@media (max-width: 768px) {
  .wishlist-area table th {
    display: none;
  }

  .wishlist-area table tr {
    display: flex;
    flex-direction: column;
  }

  .wishlist-area table td {
    display: grid;
    grid-template-columns: 110px 1fr;
  }

  .wishlist-area table .product-name,
  .wishlist-area table .product-price,
  .wishlist-area table .product-add-to-cart,
  .wishlist-area table .product-stock-status {
    text-align: left;
  }

  .wishlist-area table .title {
    display: block;
  }
}
