h1 {
  padding: 50px 50px 25px 50px;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 25px;
  padding: 0 50px;
  margin-bottom: 25px;
}

.Search-Form-Field:first-child {
  margin-top: 15px;
}

.Search-Form-Field {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.Search-Form-Field input,
.Search-Form-Field textarea {
  border: 1px solid #9e9e9a;
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  user-select: none;
  background: #dfe6e9;
  resize: none;
}

.Search-Form-Field .Search-Form-Label {
  display: block;
  position: absolute;
  top: 16px;
  left: 10px;
  width: 80%;
  text-align: left;
  padding: 0 8px;
  font-size: 15px;
  color: #9e9e9a;
  background: #dfe6e9;
  z-index: 1;
  transition: left 0.1s ease-in-out, top 0.1s ease-in-out,
    font-size 0.1s ease-in-out, width 0.1s ease-in-out;
  user-select: none;
  cursor: text;
}

.Search-Form-Field input:focus,
.Search-Form-Field textarea:focus {
  border: 1px solid #038aff;
}

.Search-Form-Field input:focus ~ .Search-Form-Label,
.Search-Form-Field textarea:focus ~ .Search-Form-Label {
  color: #038aff;
}
.Search-Form-Field input:focus ~ .Search-Form-Label,
.Search-Form-Field textarea:focus ~ .Search-Form-Label,
.Search-Form-Field input:not(:placeholder-shown) ~ .Search-Form-Label,
.Search-Form-Field textarea:not(:placeholder-shown) ~ .Search-Form-Label {
  top: -7.5px;
  left: 10px;
  width: fit-content;
  font-size: 12px;
}

.File-Form-Field,
.Category-Form-Field {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  padding: 0 10px;
  border: 1px solid #9e9e9a;
  border-radius: 5px;
}

.File-Form-Field {
  padding: 15px 10px;
}

.File-Form-Field input {
  display: none;
}

.File-Form-Field .File-Form-Label,
.Category-Form-Field .Category-Form-Label {
  margin: 0;
  display: block;
  text-align: left;
  padding: 0 8px;
  font-size: 15px;
  color: #9e9e9a;
  background: #dfe6e9;
  z-index: 1;
  transition: left 0.1s ease-in-out, top 0.1s ease-in-out,
    font-size 0.1s ease-in-out, width 0.1s ease-in-out;
  user-select: none;
  cursor: pointer;
}

.Category-Form-Field .Category-Form-Label {
  position: absolute;
  top: -7.5px;
  left: 10px;
  width: fit-content;
  font-size: 12px;
}

.Category-Form-Field select {
  width: 100%;
  border: none;
  background: none;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  outline: none;
  padding: 15px 0;
  --webkit-appearance: none;
}

.File-Form-Field input:valid ~ .File-Form-Label {
  color: #038aff;
}

.File-Form-Field input:valid ~ .File-Form-Label::after {
  content: "(File selected)";
}

.Search-Form-Button {
  background: rgba(225, 112, 85, 1);
  border-radius: 10px;
  border: none;
  padding: 10px 0;
  width: 100%;
  color: white;
  font-size: 16px;
  transition: background 0.2s ease-in-out;
  cursor: pointer;
  user-select: none;
}

.Search-Form-Button:hover {
  background: rgba(255, 118, 117, 1);
}
